<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KanBan-Meta-Razor-Edition</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" 
        style="background: rgb(58,78,180);background: linear-gradient(270deg, rgba(58,78,180,1) 0%, rgba(29,148,253,1) 50%, rgba(255,255,255,1) 100%);">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                <img src="https://media.trustradius.com/product-logos/mG/LY/3U4TA8KT099D.PNG" width="30" height="30" class="d-inline-block align-top" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        

                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Create
                        </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                     <a class="dropdown-item" asp-area="" asp-page="/BoardPages/CreateBoard">Create Board</a>
                      <a class="dropdown-item" asp-area="" asp-page="/Privacy">Create Team Placeholder</a>
                    </div>
                     </li>


                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Choose Board
                        </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        @*@foreach (var board in boards)
                        {
                            
                        }*@
                     <a class="dropdown-item" href="https://localhost:5001/BoardPages/viewboard/1">BoardPlaceHolderID1</a>
                      <a class="dropdown-item" href="https://localhost:5001/BoardPages/viewboard/2">BoardPlaceHolderID2</a>
                    </div>
                     </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container m-1 p-1">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background: rgb(58,78,180);background: linear-gradient(270deg, rgba(58,78,180,1) 0%, rgba(29,148,253,1) 50%, rgba(255,255,255,1) 100%);">
        <div class="container">
            &copy; 2020 - KanBan-Meta-Razor-Edition - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
